<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a routerLink="/admin-home" class="navbar-brand"></a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/admin/home" class="navbar-brand">Admin-Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/product-list" class="nav-link">View Products</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/invoice-list" class="nav-link">View Orders</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/user-list" class="nav-link">View Users</a>
        </li>
        <li>
          <ng-template #signout>
            <a (click)="signOut()">
              <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg> -->
              <span>Sign out</span>
            </a>
          </ng-template>
        </li>
      </div>
    </nav>

    <section id="admin-product">
      <button routerLink="/admin/product-list">View Products</button>
    </section>

    <section id="admin-users">
      <button routerLink="/admin/user-list">View Users</button>
    </section>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>