/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
*{
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
}
a{
    text-decoration: none;
}
header{
    background-color: lightskyblue;
}