@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 74px;
    color: #222;
}
h2{
    font-size: 56px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 30px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 22px;
}
p{
    font-size: 26px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-p2{
    padding: 40px 80px;
    align-content: center;
}
.section-m1 {
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: yellowgreen;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */

#hero{
    background-image: url(assets/images/Images/Design.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;

}
#hero button{
    background-image: url("assets/images/Images/Brush.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

/* Shop Page */
#product-hero{
    background-image: url(assets/images/Images/fruits-header.jpeg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#product-hero h4{
    color: #fff;
    font-size: large;
}
#product-hero p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

#search-bar{
    width: 100%;
    height: 8vh;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    padding: 14px;
}
#search-bar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 50%;
    background: #f1f1f1;
}
#search-bar button{
    float: left;
    width: 8%;
    font-size: 15px;
    background: rgb(29, 60, 118);
    color: white;
    cursor: pointer;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("assets/images/Images/Banner.png");
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #088178;
    font-size: 16px;
}
#banner h2 {
    color: black;
    font-size: 25px;
    padding: 10px 0;
}
#banner button:hover{
    background: #088178;
    color: white;
}
/*footer stlying */
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .icon i{
    color: #465b52;
    padding-right: 10px;
    cursor: pointer;
}
footer .install .row img{
    border-radius: 6px;
    max-width: 50%;
}
footer .install img{
    margin: 10px 0 15px 0;
}


/* Admin Home */
#admin-product{
    background-image: url(assets/images/Images/fruits-header.jpeg);
    width: 100%;
    height: 30vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#admin-product button{
    /*background-image: url("assets/images/Images/Brush.png");*/
    background-color: transparent;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;

}

#admin-users{
    background-image: url(assets/images/Images/users_home.png);
    width: 100%;
    height: 32vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#admin-users button{
    background-color: transparent;
    color: white;
    border: 0;
    padding: 200px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;

}

#admin-invoice{
    background-image: url(assets/images/Images/Admin-Invoice.jpeg);
    width: 100%;
    height: 32vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#admin-invoice button{
    /*background-image: url("assets/images/Images/Brush.png");*/
    background-color: transparent;
    color: white;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 40px;

}

/* User Cart */
#user-cart{
    background-image: url(assets/images/Images/fruits-header.jpeg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#user-cart h4{
    color: #fff;
    font-size: large;
}

#user-cart p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

/*cart page*/
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 250px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(1) a:hover{
    cursor: pointer;
    color: red;
    transition: 0.3s ease;
}
#cart table td:nth-child(2){
    width: 300px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 400px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5){
    width: 200px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 20px 0px 10px 15px;
}
#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;

}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 13px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 17px;
}
#cart-hero{
    background-image: url(assets/images/Images/fruits-header.jpeg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}
#cart-hero h4{
    color: #fff;
    font-size: large;
}
#cart-hero p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}
/* contact us */
#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form span{
    font-family: 12px;
}
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}
#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}
#form-details{
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;

}
