/* You can add global styles to this file, and also import other style files */
/* @import '~ngx-toastr/toastr'; */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1{
    font-size: 60px;
    line-height: 74px;
    color: #222;
}
h2{
    font-size: 56px;
    line-height: 64px;
    color: #222;
}
h4{
    font-size: 30px;
    color: #222;
}
h6{
    font-weight: 700;
    font-size: 22px;
}
p{
    font-size: 26px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
.section-p1{
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

body{
    width: 100%;
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */

#hero{
    background-image: url(assets/images/Images/Design.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4{
    padding-bottom: 15px;

}
#hero h1{
    color: #088178;

}
#hero button{
    background-image: url("assets/images/Images/Brush.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

/* Shop Page */
#product-hero{
    background-image: url(assets/images/Images/fruits-header.jpeg);
    width: 100%;
    height: 25vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#product-hero h4{
    color: #fff;
    font-size: large;
}
#product-hero p{
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}

#search-bar{
    width: 100%;
    height: 8vh;
    background-size: cover;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    /* flex-direction: column; */
    padding: 14px;
}
#search-bar input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 50%;
    background: #f1f1f1;
}
#search-bar button{
    float: left;
    width: 8%;
    font-size: 15px;
    background: rgb(29, 60, 118);
    color: white;
    cursor: pointer;
}

