<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a routerLink="/admin-home" class="navbar-brand"></a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="/admin/home" class="navbar-brand">Admin-Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/admin/product-list" class="nav-link">View Product</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin/invoice-list" class="nav-link">View Orders</a>
        </li>
        <li class="nav-item">
            <a routerLink="/admin-users-list" class="nav-link">View Users</a>
        </li>
      </div>
    </nav>
  
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  
  </div>
  
  <div class="list row">
  
      <!-- <div class="col-md-8">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search by id"
            [(ngModel)]="id"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="searchId()">
                Search
              </button>
            </div>
        </div>
      </div> -->
  
      
  
  
      <div class="col-md-6">
        <h4>Invoices List</h4>
        <ul class="list-group">
          <li class="list-group-item"
                  *ngFor="let invoice of invoices; let i = index"
                      [class.active]="i == currentIndex"
                          (click)="setActiveInvoice(invoice, i)"
          >
              {{ invoice.invoiceId }}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <app-admin-order-details
          [viewMode]="true"
          [currentInvoice]="currentInvoice"
        ></app-admin-order-details>
      </div>
    </div>