<!--
<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.productName }}</td>
            <td>{{ product.stockCount }}</td>
            <td>{{ product.unitPrice }}</td>
            <td>{{ product.image_url }}</td>
            <td>
              <button color="primary" [routerLink]="[product.productId]">
                  Details
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
-->

<body>
  <section id = "product1" class = "section-p1">
    <h2> Product List </h2>
    <p>Tropical Fruits on Sale!</p>
    <div class = "product-container">
      <div class = "product-display" *ngFor = "let product of products">
        <img src = "{{product.image_url}}">
        <div class = "product-detail">
          <h5>{{product.productName}}</h5>
          <h4>{{product.unitPrice}}</h4>
        </div>
        
      </div>
    </div>
  </section>

  <!-- <section id = "pagination" class = "section-p1">
    <a href = "#">1</a>
    <a href = "#">2</a>
    <a href = "#"><i class="fal fa-long-arrow-alt-right"></i></a>
  </section> -->

</body>
