<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css"/>
<body class="test">
    <section class="testimonial-area">
        <div class="container">
            <div class="sec-title">
                <h2>Our Testimonial</h2>
                <p> What Clients say about us</p>
            </div>
            <div class="testimonial-content owl-carousel">
                <div class="single-testimonial">
                    <p>This is the text that will connect to the backend testimonials. Replace this later</p>
                    <div class="client-info">
                        <div class="client-pic">
                            <a href="#">
                                <img src="/assets/images/Images/Stock Profile.jpg">
                            </a>
                        </div>
                        <div class="client-details">
                            <h6>User</h6>
                            <span>Certified User</span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <p>This is the text that will connect to the backend testimonials. Replace this later</p>
                    <div class="client-info">
                        <div class="client-pic">
                            <a href="#">
                                <img src="/assets/images/Images/Stock Profile.jpg">
                            </a>
                        </div>
                        <div class="client-details">
                            <h6>User</h6>
                            <span>Certified User</span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <p>This is the text that will connect to the backend testimonials. Replace this later</p>
                    <div class="client-info">
                        <div class="client-pic">
                            <a href="#">
                                <img src="/assets/images/Images/Stock Profile.jpg">
                            </a>
                        </div>
                        <div class="client-details">
                            <h6>User</h6>
                            <span>Certified User</span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <p>This is the text that will connect to the backend testimonials. Replace this later</p>
                    <div class="client-info">
                        <div class="client-pic">
                            <a href="#">
                                <img src="/assets/images/Images/Stock Profile.jpg">
                            </a>
                        </div>
                        <div class="client-details">
                            <h6>User</h6>
                            <span>Certified User</span>
                        </div>
                    </div>
                </div>
                <div class="single-testimonial">
                    <p>This is the text that will connect to the backend testimonials. Replace this later</p>
                    <div class="client-info">
                        <div class="client-pic">
                            <a href="#">
                                <img src="/assets/images/Images/Stock Profile.jpg">
                            </a>
                        </div>
                        <div class="client-details">
                            <h6>User</h6>
                            <span>Certified User</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
              $('.testimonial-content').owlCarousel({
                    loop:true,
                    nav:true,
                    dots:true,
                    margin:10,
                    responsive:{
                        0:{
                            items:1
                        },
                        600:{
                            items:3
                        },
                        1000:{
                            items:5
                        }
                    }
                })
            });
          </script>

    </section>
</body>

<!-- <body class="test">

    <section class="testimonial-area">
        <div class="container">
          <div class="sec-title">
            <h2> Our Testimonial</h2>
            <p>What Our Customers Say About Us</p>
          </div>
          <div class="testimonial-content owl-carousel">
            <div class="single-testimonial">
              <p>Dummy Text goes here. Add the message that is saved in the backend </p>
              <div class="cliet-info">
                <div class="client-pic">
                <a href="#">
                  <img src="/assets/images/Images/Stock Profile.jpg">
                </a>
                </div>
                <div class="client-details">
                  <h6>User</h6>
                  <span>Certified User</span>
                </div>
            </div>
          </div>
          </div>
        </div>
    </section>

    <section class="testimonial-area">
      <div class="container">
        <div class="sec-title">
          <h2> Our Testimonial</h2>
          <p>What Our Customers Say About Us</p>
        </div>
        <div class="testimonial-content owl-carousel">
          <div class="single-testimonial">
            <p>Dummy Text goes here. Add the message that is saved in the backend </p>
            <div class="cliet-info">
              <div class="client-pic">
              <a href="#">
                <img src="/assets/images/Images/Stock Profile.jpg">
              </a>
              </div>
              <div class="client-details">
                <h6>User</h6>
                <span>Certified User</span>
              </div>
          </div>
        </div>
        </div>
      </div>
  </section>
  <section class="testimonial-area">
    <div class="container">
      <div class="sec-title">
        <h2> Our Testimonial</h2>
        <p>What Our Customers Say About Us</p>
      </div>
      <div class="testimonial-content owl-carousel">
        <div class="single-testimonial">
          <p>Dummy Text goes here. Add the message that is saved in the backend </p>
          <div class="cliet-info">
            <div class="client-pic">
            <a href="#">
              <img src="/assets/images/Images/Stock Profile.jpg">
            </a>
            </div>
            <div class="client-details">
              <h6>User</h6>
              <span>Certified User</span>
            </div>
        </div>
      </div>
      </div>
    </div>
</section>
    <section class="testimonial-area">
        <div class="container">
          <div class="sec-title">
            <h2> Our Testimonial</h2>
            <p>What Our Customers Say About Us</p>
          </div>
          <div class="testimonial-content">
            <div class="single-testimonial">
              <p>Dummy Text goes here. Add the message that is saved in the backend </p>
            </div>
            <div class="cliet-info">
              <div class="client-pic">
                <a href="#">
                  <img src="/assets/images/Images/Stock Profile.jpg">
                </a>
              </div>
              <div class="client-details">
                <h6>User</h6>
                <span>Certified User</span>
              </div>
            </div>
          </div>
        
      </div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.testimonial-content').owlCarousel({
                loop:true,
                nav:false,
                dots:true,
                margin:10,
                responsive:{
                    0:{
                        items:1
                    },
                    600:{
                        items:3
                    },
                    1000:{
                        items:5
                    }
                }
            })
        });
      </script>
    </section>
</body> -->