<app-header></app-header>
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">

        <div class="form-group">
            <label for="invoice">Invoice ID</label>
            <input
              type = "text"
              class="form-control"
              id="invoice"
              required
              [(ngModel)]="shoppingCart.invoiceId"
              name="invoice"
            /> 
            <button class="list-inline-item" (click)="getInvoice()" >Search </button>

            <!-- <div class="row">
              <div class="col-md-4 order-md-2 mb-4">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                  <span class="text-muted">Your cart</span>
                </h4>
                  <table>
                    <thead>
                      <th>Product Name</th>
                      <th>Quantity</th>
                      <th>Product Price</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let cart of carts">
                        <td>{{cart.product?.productName}}</td>
                        <td>{{cart.productQuantity}}</td>
                        <td>{{cart.productCost}}</td>
                      </tr>
                    </tbody>
                  </table>
          </div> -->
         
          <section id="cart" class="section-p2">
            <table width="100%">
              <thead>
                <tr>
                  <td>Remove</td>
                  <td>Image</td>
                  <td>Product</td>
                  <td>Price</td>
                  <td>Quantity</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of carts">
                  <td><button href="" (click)=removeShoppingCart(cart.cartId)><i class="far fa-times-circle fa-1.5x"></i></button></td>
                  <td><img src="/assets/images/Images/DragonFruit.jpg" alt=""></td>
                  <td>{{cart.product?.productName}}</td>
                  <td>{{cart.productCost}} /Per {{cart.product?.productName}}</td>
                  <td><input type="number" value="{{cart.productQuantity}}"></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </section>
        <div class="form-group">
          <label for="product">Product ID</label>
          <input
            type="text"
            class="form-control"
            id="product"
            required
            [(ngModel)]="shoppingCart.productId"
            name="product"
          />
        </div>
  
        <div class="form-group">
          <label for="productQuantity">Product Quantity</label>
          <input
            type = "text"
            class="form-control"
            id="productQuantity"
            required
            [(ngModel)]="shoppingCart.productQuantity"
            name="productQuantity"
          />
        </div>

        <button (click)= saveShoppingCart() class="btn btn-success">Submit</button>
      </div>
      <div *ngIf="submitted">
        <h4>Added to Cart</h4>
        <button class="btn btn-success" (click)= newShoppingCart()>Add</button>
      </div>
     
    </div>
  </div>
