<body>
  <app-header></app-header>
  <section id="user-cart">
    <p>Start Your Checkout Process</p>
    <h4>View and Edit Your Cart Before Proceeding To Checkout</h4>
  </section>
</body>
<div>
    <div class="submit-form">
      <div *ngIf="!submitted">

        <div class="form-group">
          <section id="cart" class="section-p2">
            <table width="100%">
              <thead>
                <tr>
                  <td>Remove</td>
                  <td>Image</td>
                  <td>Product</td>
                  <td>Price</td>
                  <td>Quantity</td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of carts">
                  <td><button href="" (click)=removeShoppingCart(cart.cartId)><i class="far fa-times-circle fa-1.5x"></i></button></td>
                  <td><img src="/assets/images/Images/logo.png" alt=""></td>
                  <td>{{cart.product?.productName}}</td>
                  <!-- <td>{{cart.productCost}} /Per {{cart.product?.productName}}</td> -->
                  <td>{{cart.cartPrice}}</td>
                  <!-- <td><input type="number" id="productQuantity" name="productQuantity" value="{{cart.productQuantity}}"></td> -->
                  <td>
                    <form>
                      <div class="form-group">
                        <input
                          type="number"
                          class="form-control"
                          id="product-quantity"
                          [(ngModel)]="cart.productQuantity"
                          name="product-quantity"
                        />
                      </div>
                    </form>
                  </td>

                  <div class = "quantity-update">
                    <button type = "submit-button" (click)="updateCart(cart)">Update</button>
                  </div>

                  <td></td>
                </tr>
              </tbody>
            </table>
          </section>
        <button routerLink="/checkout" class="btn btn-success">Checkout</button>
      </div>

    </div>
  </div>
