ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}
/* li a{
    height: 20rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: navy;
} */
