<!-- <header>
    <div class="container">
        <a href="#" routerLink="/" class="logo"> Fruitilicious</a>
        <nav>
            <ul>
                <li>
                    <a href="#" routerLink="product-search"> Products</a>
                    <a href="#" routerLink="/shopping-cart"> Cart</a>
                    <a href="#" routerLink="/checkout"> Checkout</a>
                    <a href="#" routerLink="/invoice-search"> View Orders</a>
                    <a href="#" routerLink="/product-details-add"> Add Products</a>
                    <a href="#" routerLink="/product-details-edit"> Edit Products</a>
                    <a href="#" routerLink="/product-details-delete"> Delete Products</a>
                    <a href="#" routerLink="/notification-login"> Login Notification</a>
                    <a href="#" routerLink="/notification-checkout"> Checkout Notification</a>
                    <a href="#" routerLink="/user-details"> Edit User</a>
                </li>
            </ul>
        </nav>

    </div>

</header> -->

<!-- <header>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a routerLink="/" class="logo">Logo Here</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/">Home</a>
            <a class="nav-link active" aria-current="page" href="#" routerLink="product-search/products">Products</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Functionalities
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>   
    </div>
  </nav>
</header> -->

<body>
  <section id="header">
    <a href="#"><img src="/assets/images/Images/logo.png" class="logo" alt=""></a>
    <div>
      <nav>
      <ul id="navbar">
        <li><a class="active" href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="product-search">Shop</a></li>
        <li><a href="#" routerLink="/shopping-cart"><i class="far fa-shopping-cart"></i></a></li>
        <li><a href="#" routerLink="checkout">checkout</a></li>
      </ul>
    </nav>
    </div>
  </section>

</body>