<!-- 
<header>
    <div class="card-container">
        <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
          <a class="card card-small" (click)="signIn()">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></svg>
            <span>Sign in</span>
          </a>
        </ng-container>
    
        <ng-template #signout>
          <a class="card card-small" (click)="signOut()">
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
            <span>Sign out</span>
          </a>
        </ng-template>
    </div>
</header> 
 -->

<body>
  <section id="header">
    <a href="#"><img src="/assets/images/Images/logo.png" class="logo" alt=""></a>
    <div>
      <nav>
      <ul id="navbar">
        <li><a href="#" routerLink="">Home</a></li>
        <li><a href="#" routerLink="/product-search">Shop</a></li>
        <li><a href="#" routerLink="/shopping-cart"><i class="far fa-shopping-cart"></i></a></li>
        <li>
        <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
          <a href="#" (click)="signIn()">
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z"/></svg> -->
            <span>Sign in</span>
          </a>
        </ng-container>
        <ng-template #signout>
          <a href="#" (click)="signOut()">
            <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg> -->
            <span>Sign out</span>
          </a>
        </ng-template>
      </li>
      </ul>
    </nav>
    </div>
  </section>
</body>

