
  <section id="header">
    <a href="#"><img src="/assets/images/Images/logo.png" class="logo" alt=""></a>
    <div>
      <nav>
      <ul id="navbar">
        <li><a href="#" routerLink="">Home</a></li>
        <li><a href="#" routerLink="/product-search">Shop</a></li>
        <li><a href="#" routerLink="/shopping-cart"><i class="far fa-shopping-cart"></i></a></li>
        <li>
        <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
          <a href="#" (click)="signIn()">
            <span>Sign in</span>
          </a>
        </ng-container>
        <ng-template #signout>
          <a href="#" (click)="signOut()">
            <span>Sign out</span>
          </a>
        </ng-template>
      </li>
      </ul>
    </nav>
    </div>
  </section>


