header{
    padding: 0;
    border-bottom: 1px solid navy;
}
a{


    color: black;
}
a:hover {
    background: lightsteelblue;
    color: navy;

}
.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li a{
    padding: 1em;
    display: inline-block;
}
