  <div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cart of carts">
                <td>{{ cart.productId }}</td>
                <!-- <td>{{ productService.findByProductId(cart.productId).subscribe(val => val.productName) }}</td> -->
                <td>{{ cart.productQuantity }}</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
