<!-- 
<form class = "border border-dark">
    <div class = "row g-0">
        <div class = "col text-center p-2 mb-3 bg-light">
            <span class = "fs-3">Register</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for = "firstname" class="form-label ">First Name</label>
            <input type="text" class = "form-control" id="firstname">
        </div>
        <div class="col">
            <label for = "lastname" class="form-label ">Last Name</label>
            <input type="text" class = "form-control" id="lastname">
        </div>
    </div>
    
</form> -->